DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/dbname?schema=public"
PORT=3000
SMS_API_URL="http://casa.deu.im:9000/app/sms/s.xhtml"
JWT_SECRET="changeme"
JWT_EXPIRES_IN="8h"
JWT_PRE_AUTH_EXPIRES_IN="5m"
